@charset "UTF-8";

/* -----fonte-----*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;800&display=swap');

/* -----webkit-----*/
progress::-webkit-progress-bar { background: #b3b3b3; }

::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-thumb{background-color: rgba(255, 255, 255, 0.4);}
::-webkit-scrollbar-thumb:hover{background-color: rgba(255, 255, 255, 0.65);}

/* -----geral-----*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
}
/* reset */
h2,h3,h4,h5,p,a, .dropdown-menu a{
    margin: 0px;
    color: #fff;
}

a{ text-decoration: none;}

html, body{
    width: 100%;
    height: 100%;
}

hr {
    background-color: #ddd;
    border: none;
    height: 1px;
    margin: 8px 24px 0px 24px;
}

section{
    margin-bottom: 16px;
}


.main, .main-content{
    height: calc(100vh - 91px);
}

/* ------------------------sidebar------------------------- */
.sidebar-menu{
    min-width: 241px;
    max-width: 241px;
    background-color: #000000;
    padding-top: 24px;
}

.logo{
    margin-bottom: 26px;
    padding: 0px 24px;
}

.navbar ul li{padding: 0px 8px;}

#sidebar-ul-1 li a{
    padding: 0px 16px;
    height: 40px;}
.img-margin{margin-right: 16px;}

#sidebar-ul-2{ margin-top: 24px;}
#sidebar-ul-2 li a{ padding: 8px 16px;}


#playlist {background-color: #b2b2b2;}
#gradient {background-image: linear-gradient(to bottom right, #4304f3, #c0ecd6);}
#episodes {background-color: #004638;}

#playlist, #gradient, #episodes{
    width: 24px;
    height: 24px;
}

#sidebar-musics{
    margin: 0px;
    padding-top: 8px;
    height: calc(100vh - 494px);
}

#sidebar-musics li{height: 32px;}
#sidebar-musics li a{
    height: 32px;
    padding: 0px 16px;
}

.navbar button{
    height: 40px;
    padding: 0px 24px;
    border: none;
    background-color: #000000;
    gap: 16px;
}

.navbar button img{
    padding-right: 4px;
}
/* -------------------------------------------------------------------- */

/* -----------------------------Main----------------------------------- */

.main-content{
    padding: 0px 32px ;
    background-color    : #121212;
}
#topbar {height: 64px;}

.arrows button, .info-music button, .player-control button, .controls button{
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-radius: 50%;
}

.arrows button{
    margin-right: 16px;
    background-color: #00000077;
}


#button-user {
    padding: 2px;
    height: 32px;
    background-color: rgba(0 , 0 , 0 , 0.7);
    border-radius: 25px;
}

#button-user img{
    max-width: 28px;
    max-height: 28px;
    border-radius: 50%;
}

.dropdown-menu{
    background-color: #282828;
    padding: 4px;
}

.dropdown-item{
    width: 188px;
    height: 40px;
}

.content{
    padding-top: 24px;
    gap: 24px;
}

#greeting h2 {
    height: 43.59px; 
    margin-bottom: 16px;}

#greeting ul{
    grid-auto-flow: row;
    gap: 16px 0px;
    overflow-y: hidden;
}

#greeting ul li{
    height: 80px;
    padding: 0 24px 0 0;
}
.bg-card{
    background-color: rgba(255, 255, 255, 0.1);
}

.sector div{
    height: 33px;
    margin-bottom: 16px;
}

.sector ul{
    margin: 0px;
}

.sector ul li{
    padding: 0px;
    max-width: 210px;
    max-height: 287px;
}

.card-section{
    background-color: #181818;
    padding: 16px;
}

.card-section img{
    max-width: 177px;
    max-height: 177px;
    border-radius: 12px;
}

/* ---------------------------------------------------------------------------- */
/* --------------------------------Player----------------------------------- */

footer{ 
    height: 91px;
    background-color: #181818;
    border-top: 1px solid #282828;
    padding: 0px 16px;
}

/* .adjacent{
    width: 30%;
} */

.music-cover{
    width: 56px;
    height: 56px;
}


.info-music button, .player-control button, .controls button{ background-color: transparent;}
.player-control button{ margin: 0px 4px;}
.player{width: 20.5%;}

.player-control{ margin-bottom: 12px;}

#btn-play{background-color: #fff;}

.progress{
    height: 4px;
    border-radius: 4px;
    background-color: #535353;
}
.vol-bar{width: 93px;}
/* ---------------------------------------------------------------------------------------------------*/

.current{
    border-radius: 4px;
    background-color: #282828;
}


/* FONTE */
/* -------------------------------------------------------------------------------------------------- */
#sidebar-ul-1 li p, #sidebar-ul-2 li p{
        font-size: 14px;
        font-weight: 700;
        letter-spacing: normal;
        line-height: 16px;
        text-transform: none;
        /* color: #b3b3b3; */
    }
#sidebar-musics li a p{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
}

.navbar button p{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}

h2{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 36px;
    text-transform: none;
}


h3 a{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 28px;
    text-transform: none;
}

.more{
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 16px;
    text-transform: uppercase;
}

h4{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
}

h4 p, .song{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}

.artist, .player p{
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}
/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------------hovers--------------------------------------------------*/
#sidebar-ul-1 li a,
#sidebar-ul-2 li a,
#sidebar-musics li a{
    opacity: .75;
}

#sidebar-ul-1 li a:hover,
#sidebar-ul-2 li a:hover,
#sidebar-musics li a:hover{
    opacity: 1.0;
}

#button-user:hover, #button-user:focus, .dropdown-menu li:hover{
    box-shadow: none;
    background-color: #282828;
}

.dropdown-menu {}

.card-section:hover{
    background-color: #282828;
}

.bg-card:hover{
    background-color: rgba(255,255,255,.2);
}

.sector div a:hover, .song:hover, .artist:hover{
    color: #fff;
    text-decoration: underline;
}