@charset "UTF-8";

/* -----fonte-----*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&display=swap');

/* -----webkit-----*/
progress::-webkit-progress-bar { background: #b3b3b3; }

::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-thumb{background-color: rgba(255, 255, 255, 0.4);}
::-webkit-scrollbar-thumb:hover{background-color: rgba(255, 255, 255, 0.65);}

/* -----geral-----*/
* {
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
}
/* reset */
p, a{
    margin: 0px;
}

html, body{
    width: 100%;
    height: 100%;
}



.sidebar-menu{
    min-width: 241px;
    max-width: 241px;
    height: calc(100%-91px);
    background-color: #000000;
    padding-top: 24px;
}

.logo{
    margin-bottom: 26px;
    padding: 0px 24px;
}

.navbar ul li{padding: 0px 8px;}
.navbar ul li a{
    padding: 0px 16px;
    height: 40px;}
.navbar ul li img{
    margin-right: 16px;
}


/* -----cores-----*/
/* 
.color-1{background-color: #000000;}
.color-2{background-color: #121212;}
.color-3{background-color: #181818;}
.color-4{background-color: #282828;}


h2{
    font-weight: 800;
}
a, p, footer button img, .dropdown-item{
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
}


p {
    margin: 0px;
}

.active, .logo-margin, .music, .title, .item-2 ul li a, .btn-size-play img{
    opacity: 1;
}

.card-h {
    width: 325px;
    height: 80px;
    background-color: #ffffff22;
}

.card {
    width: 209px;
    height: 287px;
    background-color: #ffffff22;
}

.sidebar {
    -ms-flex: 0 0 241px;
    flex: 0 0 241px;
}

.app{
    border: none;
    background-color: #000000;
    width: 100%;
    height: 32px;
    padding: 0px 24px;
}

.app p{
    font-weight: 400;
}


.nav-pills .nav-link.active {
    background-color: #282828;
}

.icon-size {
    min-width: 24px;
    min-height: 24px;
}

.gradient {
    background-image: linear-gradient(to bottom right, #4304f3, #c0ecd6);
}

#episodes {background-color: #004638;}

#playlist {background-color: #b2b2b2;}

#topbar {height: 64px;}

.buttom-type, .buttom-type-2 {
    min-width: 32px;
    min-height: 32px;
    text-align: center;
    border: none;
    border-radius: 50%;
}

.buttom-type{
    background-color: #00000055;
}

.buttom-type-2{
    background-color: #00000077;
}

#button-user {
    padding: 2px;
    min-height: 32px;
    background-color: #0a051b;
    border-radius: 25px;
}

#img-size {
    max-width: 28px;
    max-height: 28px;
    border-radius: 50%;
}

.main-pad {
    padding: 0px 32px;
    position: relative;
}



hr {

    background-color: #ddd;
    border: none;
    width: 193px;
    height: 1px;
    margin: 8px 24px;
}

.navbar, section{
    padding-top: 24px;
}

#greeting {
    margin-bottom: 22px;
    font-size: 32px;
}

.m-arrow {
    margin-right: 13px;
}

.card a, .card h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.img-card{
    width: 177px;
    height: 177px;
    border-radius: 12px;
}

.n-principal li{
    padding: 0px 8px;
    height: 40px !important;
}

.n-principal li a{
    padding: 0px 16px;
    height: 40px !important;
}

.n-principal li a p{
    margin-left: 17px;
}

.n-secondary{
    margin-top: 24px;
    padding: 0px 24px;    
}

.n-secondary a{
    padding: 8px 0px;    
}

.n-tertiary{
    padding: 0px 24px;
}
.n-tertiary a{
    height: 32px;
    padding: 0px 0px;
}

.n-tertiary a p{
    font-weight: 400;
}

.mini-p p{
    padding-top: 2px;
}

.icon-margin{
    margin-right: 16px;
}

h3 a{
    font-size: 24px;
}

.item-2{
    padding-top: 22px;
}

.title-item{
    height: 49px;
}

.see-all{
    text-transform: uppercase;
}

.item-2 ul{
    padding-top: 6px;
}

.btn-size{
    min-width: 32px;
    min-height: 32px;
    background-color: transparent;
    text-align: center;
    border: none;
    border-radius: 50%;
}

.btn-size-play{
    background-color: #fff;
}

.player{
    height: 91px;
    padding: 0px 16px;
}

.music-artist a{
    font-weight: 400;
}

.artist, .bar-text p{
    font-size: 11px;
}

.player-control{
    margin-bottom: 12px;
}

.player-size{
    width: 100%;
}

.progress{
    height: 4px;
    border-radius: 4px;
    background-color: #535353;
}

.progress-bar{
    width: 10%;
     
}

.player-space{
    width: 40%;
}
.adjacent{
    width: 30%;
     width: 24.5%;
}

.border-top{
    border-top: 1px solid #282828 !important;
}

.vol-bar{
width: 93px;
}

.vol{
    
    width: 100%;
}

.bar-text p{
    font-weight: 200;
}

.dropdown-menu{
    background-color: #282828;
    padding: 4px;
}

.dropdown-item{
    width: 188px;
    height: 40px;
    font-weight: 800;
}

.gradient-effect{
    height: 332px;
    width: calc(100% - 253px);
    position: absolute; 
    z-index: 0;
    background-image:linear-gradient(#5028f0,transparent);
    opacity: 0.35;
}

.li-hover a:hover{
    color: #fff;
}

.h-link:hover{
    color: #fff;
    opacity: 1;
}

.li-hover:hover{
    background-color: #ffffff55;
} */